<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Fifth Element</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <link href="styles/main.css" rel="stylesheet" />
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Nav Bar -->
    
<header class="w-full top-0 start-0 bg-gray-100">
  <nav class="mb-2">
      <div class="flex items-center">
        <div class="w-64 flex-none text-center text-lg">
          <span class="underline my-0 py-0"><%= date %></span>
        </div>
        <h1 class="flex-1 text-center text-[80px]"><a href="/">The Fifth Element</a></h1>
        <div class="w-64">
          <button type="button" class="bg-green-400 hover:bg-green-600 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-lg text-base px-5 py-3 focus:outline-none">Subscribe to Newsletter</button>
        </div>
      </div>
  </nav>
  <nav class="my-1 px-10 justify-between">
      <div class="bg-neutral-primary">
        <ul class="flex justify-between">
          <li>
            <a href="/" ><button class="font-bold ">Top Headlines</button></a>
          </li>
          <li>
            <a href="/business" ><button class="font-bold ">Business</button></a>
          </li>
          <li>
            <a href="/entertainment"><button class="font-bold ">Entertainment</button></a>
          </li>
          <li>
            <a href="/general"><button class="font-bold ">General</button></a>
          </li>
          <li>
            <a href="/health"><button class="font-bold ">Health</button></a>
          </li>
          <li>
            <a href="/science"><button class="font-bold ">Science</button></a>
          </li>
          <li>
            <a href="/sports"><button class="font-bold ">Sports</button></a>
          </li>
          <li>
            <a href="/technology"><button class="font-bold ">Technology</button></a>
          </li>
          <li>
            <a href="/search"><button class="font-bold ">Search</button></a>
          </li>
        </ul>
      </div>
  </nav>
  <hr>
</header>


    