<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI News Aggregator</title>
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <link href="styles/main.css" rel="stylesheet" />
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Nav Bar -->
    
<header class="w-full top-0 start-0">
  <nav class="bg-neutral-primary">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
          <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img src="https://flowbite.com/docs/images/logo.svg" class="h-7" alt="Flowbite Logo" />
              <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">Flowbite</span>
          </a>
      </div>
  </nav>
  <nav class="bg-neutral-secondary-soft border-t border-black justify-between">
      <div class="bg-neutral-primary">
        <ul class="flex flex-wrap justify-between px-2 ">
          <li>
            <a href="/" class="font-bold">Top Headlines</a>
          </li>
          <li>
            <a href="/business" class="font-bold">Business</a>
          </li>
          <li>
            <a href="/entertainment" class="font-bold">Entertainment</a>
          </li>
          <li>
            <a href="/general" class="font-bold">General</a>
          </li>
          <li>
            <a href="/health" class="font-bold">Health</a>
          </li>
          <li>
            <a href="/science" class="font-bold">Science</a>
          </li>
          <li>
            <a href="/sports" class="font-bold">Sports</a>
          </li>
          <li>
            <a href="/technology" class="font-bold">Technology</a>
          </li>
          <li>
            <a href="/search" class="font-bold">Search</a>
          </li>
        </ul>
      </div>
  </nav>
</header>


    