h1 {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

  body {
    background-color: var(--bg-color);
    margin: 0;
  }

  ol {
    color: var(--text-color);
  }

  nav,
  footer {
    background-color: var(--secondary-accent);
  }

  main {
    font-family: 'Times New Roman', Times, serif;
  }

  nav a:hover {
    color: var(--primary-accent);
  }

